html{
    font-family:monospace;
}


.titulo{
    background-color: cadetblue;
    margin: auto;
}


label{
    font-size:25px;
}


body {
    background-image: url('../fondoInicio.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.inicio {
    display: block;
    background-color: #ef476f;
    height: 50%;
    width: 25%;
    text-align:center;
    border-radius: 20px;
    margin:auto;
    margin-top:10%;
}


.nameInsert{
    margin-left: 15px;
    padding-top: 30px;
    text-align:left ;
}


.passInsert{
    margin-left: 15px;
    padding-top: 30px;
    text-align:left ;
}


input{
    font-size: 20px;
    width: 10%px;
    height: 5%px;
}



/*el boton de ingresar y sus acciones*/

.botonIngresar{
    margin-top: 10%;
    color: #ffffff;
    background-color: #023047;
    font-size: 20px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border-width: 1px;
}


.botonIngresar:hover{
    background-color: #03045e;
}


.botonIngresar:active{
    background-color: #023047;
}



/*el boton de registrar y sus acciones*/

.botonRegistrar{
    margin-top: 10%;
    color: #ffffff;
    background-color: #023047;
    font-size: 20px;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    border-width: 1px;
    margin-bottom:5%;
}


.botonRegistrar:hover{
    background-color: #03045e;
}


.botonRegistrar:active{
    background-color: #023047;
}



/*el boton que explica las reglas*/

.Reglas{
    margin-top: 7%;
    margin-left: 2%;
    font-size: 25px;
    color: #ffffff;
    background-color: #d90429;
    border-radius: 10px;
    border-width: 1px;
}


.Reglas:hover{
    background-color: #ef233c;
}


.Reglas:active{
    color: #ffffff;
    background-color: #d90429;
    border-radius: 10px;
    border-width: 1px;
}

.cartelReglas{
  display:block;
  text-align:center;
  z-index:4;
  color:#FFFF;
  border-radius:10px;
  font-size: 21px;
  background-color: red;
  border-color: #0000;
  border: 2px;
  height:80%;
  width:80%;
  position: absolute;
  top: 7%;
  left: 10%;
}

.textoReglas{
  top:40%
}
