body{
    display: flex;
    justify-content: center;
    overflow-x:hidden; 
    overflow-y:hidden;
}


.mesa {
    display: grid;
    grid-template-columns: 100px repeat(3, 180px) 100px;
    grid-template-rows: 60px repeat(3, 180px) 60px;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    position: relative;
    border-radius: 25px ;
    border: 10px;
    margin-top: 3%;
}

.turno{
  grid-area: 1 / 3 / 2 / 4;
  font-family: monospace;
  font-size: 143%;
  height: 100%;
  border-radius: 25px;
  background-color: #2a9d8f;
  text-align: center;
  margin: auto;
  margin-top: -6%;
  width: 100%;
}

.giro{
    background-color: transparent;
    border: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px;
    border-color: #000000;
}

.Aderecha{  /*2*/
    grid-area: 1 / 2 / 2 / 3;
    background-image: url('/static/Imagenes/Flechas/ArribaDerecha.png');
    bottom: 0px;
}

.Aderecha:hover{
    background-image: url('/static/Imagenes/Flechas/ArribaDerechaO.png');
}

.Aizquierda{ /*1*/
    grid-area: 2 / 1 / 3 / 2;
    background-image: url('/static/Imagenes/Flechas/IzquierdaAbajo.png');
    right: 0px;
}

.Aizquierda:hover{
    background-image: url('/static/Imagenes/Flechas/IzquierdaAbajoO.png');
}

.Bderecha{ /*4*/
    grid-area: 2 / 5 / 3 / 6;
    background-image: url('/static/Imagenes/Flechas/DerechaAbajo.png');
}

.Bderecha:hover{
    background-image:url('/static/Imagenes/Flechas/DerechaAbajoO.png') ;
}

.Bizquierda{ /*3*/
    grid-area: 1 / 4 / 2 / 5;
    background-image: url('/static/Imagenes/Flechas/ArribaIzquierda.png');
    right: 0px;
    bottom: 0px;
}

.Bizquierda:hover{
    background-image:url('/static/Imagenes/Flechas/ArribaIzquierdaO.png') ;
}

.Cderecha{    /*8*/
    grid-area: 4 / 1 / 5 / 2;
    background-image: url('/static/Imagenes/Flechas/IzquierdaArriba.png');
    right: 0px;
    bottom: 0px;
}

.Cderecha:hover{
    background-image: url('/static/Imagenes/Flechas/IzquierdaArribaO.png') ;
}

.Cizquierda{ /*7*/
    grid-area: 5 / 2 / 6 / 3;
    background-image: url('/static/Imagenes/Flechas/AbajoDerecha.png');

}

.Cizquierda:hover{
    background-image: url('/static/Imagenes/Flechas/AbajoDerechaO.png');
}

.Dderecha{   /*6*/
    grid-area: 5 / 4 / 6 / 5;
    background-image: url('/static/Imagenes/Flechas/AbajoIzquierda.png');
    right: 0px;
}

.Dderecha:hover{
    background-image:url('/static/Imagenes/Flechas/AbajoIzquierdaO.png') ;
}

.Dizquierda{  /*5*/
    grid-area: 4 / 5 / 5 / 6;
    background-image: url('/static/Imagenes/Flechas/DerechaArriba.png');
    bottom: 0px;
}

.Dizquierda:hover{
    background-image: url('/static/Imagenes/Flechas/DerechaArribaO.png');
}

.cuadrilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 19px;
    grid-area: 2 / 2 / 5 / 5;
    text-align: center;
    background-color: gray;
    width: 95%;
    height: 95%;
    border-radius: 50px;
    margin: auto;   
}

.cuadrante{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #fff0ad;
    border-radius: 50px;
    text-align: center;
}

.cuadranteA {
    grid-area: 1 / 1 / 2 / 2;
}

.cuadranteB {
    grid-area: 1 / 2 / 2 / 3;
}

.cuadranteC {
    grid-area: 2 / 1 / 3 / 2;
}

.cuadranteD {
    grid-area: 2 / 2 / 3 / 3;
}

/*los botones que representan cada espacio*/

/*Botones del cuadrante A*/
.cuadrante > button {
    height: 50px;
    width: 50px;
    margin: auto;
}

.cuadrante > button:hover{
    background-color: #495057;
}


.pos1{
    display: grid;
    border-radius: 75px;
    grid-area: 1 / 1 / 2 / 2;
}


.pos2{
    display: grid;
    border-radius: 75px;
    grid-area: 1 / 2 / 2 / 3; 

}

.pos3{
    display: grid;
    border-radius: 75px;
    grid-area: 1 / 3 / 2 / 4;
}

.pos4{
    display: grid;
    border-radius: 75px;
    grid-area: 2 / 1 / 3 / 2;

}

.pos5{
    display: grid;
    border-radius: 75px;
    grid-area: 2 / 2 / 3 / 3;
}

.pos6{
    display: grid;
    border-radius: 75px;
    grid-area: 2 / 3 / 3 / 4;
}

.pos7{
    display: grid;
    border-radius: 75px;
    grid-area: 3 / 1 / 4 / 2;
}

.pos8{
    display: grid;
    border-radius: 75px;
    grid-area: 3 / 2 / 4 / 3;
}

.pos9{
    display: grid;
    border-radius: 75px;
    grid-area: 3 / 3 / 4 / 4;
}