html{
  font-family: monospace;
  background-color: black;
}

body{
  background-image: url('../admin.jpeg');
}

.titulo{
    font-size: 45px;
    text-align: center;
}

.menuOpciones{
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 7%;
    background-color: #dbb42c;
    border-radius: 25px;
    margin: auto;
    margin-top: 5%;

}

.opcion{
    border-radius: 15px;
    border: 0px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin: auto;
    margin-top: 7%;
    margin-bottom:7%;
    text-align: center;
    width: 60%;
    height: 7%;
}

.opcion:hover{
  background-color: #8b8c89;
}

h3{
  color:#FFFF;
  font-size: 25px;
}