html{
    font-family: monospace;
    background-color: darkgreen;
}

.titulo {
    text-align: center;
    font-size: 50px;
}

.lista{
    margin: auto;
    margin-top: 4%;
    border-radius: 25px;
    width: 400px;
    height: 550px;
    background-color:crimson;
}

li{
    margin-left: 10%;
    margin-top: 15%;

}