<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/editPerfil.css')}}">
</head>
<body>
  <div class="menuEdit">
    <form action="{{url_for('editPerfilConfirm')}}" method="POST">
      <h1 class="cartel"> Nombre</h1><br>
      <input  class ="insert" type="text" name="nombre"> <br>
      <h1 class="cartel">Contraseña</h1><br>
      <input class ="insert" type="password" name="contra"> <br>
      {%if error1 == True%}
        <h3>No puedes ponerte el mismo nombre de usuario</h3>
      {%endif%}
      {%if error2 == True%}
        <h3>Estas cambiando a la misma contraseña</h3>
      {%endif%}
      {%if error3 == True%}
        <h3>El nombre de usuario al que quieres cambiar ya esta tomado</h3>
      {%endif%}
      
      <input class="boton" type="submit" value="Confirmar cambio de datos" > 
    </form>
    <form action="{{url_for('menu')}}" method="GET">
      <input  class="boton" type="submit" value="Volver al menu" >
    </form>
  </div>
</body>
</html>