<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/inicio.css')}}">
<head>
  <title>Inicio</title>
</head>
<body>  
<div class="inicio">
    <form action="{{url_for('ingreso')}}" method="POST">   
  <div class="nameInsert"><label>Nombre de usuario:</label></div><br>
    <input required type="text" id="nombre" name="nombre">
<br>
<br>

  <div class="passInsert"><label>Contraseña:</label></div><br>
    <input required type="password" id="contra" name="contra">
    <br>    
    <br>
    <button class="botonIngresar" type="submit">Ingresar</button><br>
    <br>
    {%if error == True%}
        <h3>Ese usuario no existe</h3>
      {%endif%}
    </form>
    <form action="{{url_for('registro')}}" method="GET">
    <button class="botonRegistrar" type="submit">Registrar</button>
    </form>
</div>
    <button class="Reglas" type="button" onclick=mostrarReglas()>¿Como son las reglas?</button>
    <div class="cartelReglas" id="cartelReglas" style="display:none;"><p class="textoReglas">El juego se basa en un 5 en línea (similar al tres en línea) pero el tablero se basa en un 6X6 dividido en 4 cuadrados iguales (de 9 ranuras cada uno). Se utiliza un sistema de turnos en el que cada jugador ocupa una casilla y luego de eso gira uno de los cuadrados 90 grados a la izquierda o a la derecha, y luego pasa el turno del otro jugador. Gana el que apile 5 en diagonal, horizontal o vertical</p><button class="ocultarReglas" onclick="ocultarReglas()">X</button></div>
</body>
  <script src='/static/inicio.js'></script>
</html>

<!--style="display:none;"-->