<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="juego.css">
    <head>
    </head>
    <body>
        <<div class="cuadrilla">

        <div class="cuadranteA">
        <button class="A1" type="button"></button>
        <button class="A2" type="button"></button>
        <button class="A3" type="button"></button>
        <button class="A4" type="button"></button>
        <button class="A5" type="button"></button>
        <button class="A6" type="button"></button>
        <button class="A7" type="button"></button>
        <button class="A8" type="button"></button>
        <button class="A9" type="button"></button>
        </div>

        <div class="cuadranteB">
        <ul>
            <li></li><li></li><li></li> 
            <li></li> <li></li><li></li>
           <li></li> <li></li><li></li>  
         </ul>
        </div>

        <div class="cuadranteC">
        <ul>
        <li></li><li></li><li></li> 
        <li></li> <li></li><li></li>
        <li></li> <li></li><li></li>  
        </ul>
        </div>
        
        <div class="cuadranteD  ">
        <ul>
        <li></li><li></li><li></li> 
        <li></li> <li></li><li></li>
        <li></li> <li></li><li></li>  
        </ul>
        </div>
        
        </div>
    </body>

</html>