<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'menu.css')}}">
    <head>        
    </head>
    <body>
        <div class="menuOpciones">

            <form action="">

            <input class="opcion" value="Crear sala" type="submit">
            <input class="opcion" value="Buscar sala" type="submit">
            <input class="opcion" value="Editar perfil" type="submit">
            <input class="opcion" value="Ver ranking" type="submit">

            </form>

        </div>
        



    </body>
</html>